* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 7fr 0.5fr;
  grid-template-areas: 
  "opponent-score header your-score"
  "opponent-score board your-score"
  "opponent-score footer your-score";
  align-items: center;
  justify-content: center;
  background-color: #c05780;
}

.board-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.board {
  width: 100%;
  height: 100%;
  display:flex;
  position: absolute;
  flex-wrap: wrap;
  right: 0;
  top: 0;
  left: 0;
  down: 0;
}

.header {
  grid-area: header;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-family: sans-serif;
  padding: 10px;
  color: whitesmoke;
  margin: 10px;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  position: relative;
  grid-area: board;
  justify-content: center;
  align-items: center;
}

.opponent-side {
  grid-area: opponent-score;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.square {
  width: 12.5%;
  height: 12.5%;
}

.promote-square {
  width:50%;
  height: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

.square-black {
  background: #ff828b;
  border: 3px solid #00b0ba;
}

.square-white {
  background: #e7c582;
  border: 3px solid #00b0ba;
}

.board-square {
  width: 100%;
  height: 100%;
  position: relative;
}

.piece-container {
  cursor: grab;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
}

.piece {
  max-width: 70%;
  max-height: 70%;
}

.poss-move-container {
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.poss-move {
  max-width: 40%;
  max-height: 40%;
  opacity: 1;
  filter: brightness(100%);
  filter: contrast(100%);
}

.game-text {
  font-family: sans-serif;
  padding: 10px;
  color: whitesmoke;
  margin: 10px;
}

.game-text button {
  margin-left: 20px;
  cursor: pointer;
  background: rebeccapurple;
  opacity: 0.5;
  border: 2px solid white;
  border-radius: 10px;
}